// Off-Canvas Settings
$devs-love-it: "devsloveit-off-canvas";
$devsloveit-off-canvas-max-height: 300px !default;
$devsloveit-off-canvas-max-width: 300px !default;
$devsloveit-off-canvas-helper-background: red !default;
$devsloveit-off-canvas-background: blue !default;
$devsloveit-off-canvas-index: 1 !default;
