@import "settings";

// Wrapper
.#{$devs-love-it}-wrapper {
	display: inline-block;
	input[type="checkbox"] {
		position: absolute;
		top: 0;
		right: 0;
		height: 0;
		width: 0;
		opacity: 0;
		&:checked {
			~ .#{$devs-love-it} {
				overflow: {
					y: auto;
					x: hidden;
				}
				opacity: 1;
				transform: translate(0, 0) translate3d(0, 0, 0);
			}
			~ .#{$devs-love-it}-helper {
				opacity: 1;
				visibility: visible;
			}
		}
		&:focus,
		&:active {
			~ .#{$devs-love-it} {
				transition: transform 0.5s ease, opacity 0.25s ease;
			}
			~ .#{$devs-love-it}-helper {
				transition: opacity 0.25s ease, visibility 0.25s ease;
			}
		}
	}
}

// Helper
.#{$devs-love-it}-helper {
	background: {
		color: $devsloveit-off-canvas-helper-background;
	}
	position: fixed;
	z: {
		index: $devsloveit-off-canvas-index - 1; 
	}
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
}

// Nav
.#{$devs-love-it} {
	background: {
		color: $devsloveit-off-canvas-background;
	}
	position: fixed;
	z: {
		index: $devsloveit-off-canvas-index;
	}
	height: 100%;
	width: 100%;
	opacity: 0;
	&[data-comes-from="top"] {
		top: 0;
		left: 0;
		right: 0;
		max: {
			height: $devsloveit-off-canvas-max-height;
		}
		transform: translate(0, -100%) translate3d(0, -100%, 0);
	}
	&[data-comes-from="bottom"] {
		bottom: 0;
		left: 0;
		right: 0;
		max: {
			height: $devsloveit-off-canvas-max-height;
		}
		transform: translate(0, 100%) translate3d(0, 100%, 0);
	}
	&[data-comes-from="left"] {
		top: 0;
		bottom: 0;
		left: 0;
		max: {
			width: $devsloveit-off-canvas-max-width;
		}
		transform: translate(-100%, 0) translate3d(-100%, 0, 0);
	}
	&[data-comes-from="right"] {
		top: 0;
		bottom: 0;
		right: 0;
		max: {
			width: $devsloveit-off-canvas-max-width;
		}
		transform: translate(100%, 0) translate3d(100%, 0, 0);
	}
}